generalize/
generalize/*
Runtime/
.DS_Store
node_modules
node_modules
npm-debug.log
selenium-debug.log
.idea
.vscode
package-lock.json
.eslintrc.js
.eslintignore

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
