<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="zh-cn">
<title>支付成功 - {:C('WEB_SITE_TITLE')}</title>
<link href="__PUBLIC__/css/wechat_pay.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.js"></script>
</head>
<body>
<div class="body">
    <h1 class="mod-title">
    <span class="ico-wechat"></span><span class="text">{:C('WEB_SITE_TITLE')}扫码支付</span>
    </h1>
    <div class="mod-ct">
        <div class="order">
         恭喜，支付成功！
        </div>
        <!--detail-open 加上这个类是展示订单信息，不加不展示-->
        <div class="detail detail-open" id="orderDetail" style="">
            <dl class="detail-ct" style="display: block;">              
                <dt>交易单号</dt>
                <dd id="billId">{$order.orderno}</dd>
                <dt>创建时间</dt>
                <dd id="createTime">{$order.addtime|date='Y-m-d H:i:s',###}</dd>
                <dt>付款单号</dt>
                <dd id="billId">{$order.payno}</dd>
                <dt>付款时间</dt>
                <dd id="createTime">{$order.addtime|date='Y-m-d H:i:s',###}</dd>
            </dl>
            <div style="height: 20px;">  </div>         
        </div>        
    </div>
    <div class="foot">
        <div class="inner">
            <p>Copyright @ <font size="3">{:C('WEB_SITE_TITLE')}</font> Reserved</p>
            
        </div>
    </div>
</div>
</body>
</html>