<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="zh-cn">
<title>{$order.payname}扫码支付 - {:C('WEB_SITE_TITLE')}</title>
<link href="__PUBLIC__/css/wechat_pay.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.qrcode.min.js"></script>
        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                var time = 4000;
                var interval;
                function run() {
                    interval = setInterval(getData, time);
                };
                function getData() {
                    $.post("{:U('index/chectorder')}", { BillNO: '{$order.orderno}', t: Math.random() }, function (result) {
                        if(result=="1"){
                            clearTimeout(interval);
                            location = "{:U('index/payok')}?BillNO={$order.orderno}";
                        }
                    });
                };
                run();
                $('#barCode').qrcode({
                    render : "canvas", //table方式
                    width : 300, //宽度
                    height : 300, //高度
                    text : '{$barCode}',
                    background : "#ffffff",
                });  
            });
</script>
</head>
<body>
<div class="body">
    <h1 class="mod-title">
    <span class="ico"><img src="__PUBLIC__/images/{$order.payname}.jpg" style="height: 40px; width:auto; display: inline-block; position: relative;" alt="{$order.payname}"></span><span class="text">{$order.paytitle}</span>
    </h1>
    <div class="mod-ct">
        <div class="order">
        </div>
        <div class="amount">
            <span>￥</span>{$order.amount}
        </div>
        <div class="qr-image" style="" id="barCode"></div>
        <!--detail-open 加上这个类是展示订单信息，不加不展示-->
        <div class="detail detail-open" id="orderDetail" style="">
            <dl class="detail-ct" style="display: block;">              
                <dt>交易单号</dt>
                <dd id="billId">{$order.orderno}</dd>
                <dt>创建时间</dt>
                <dd id="createTime">{$order.addtime|date='Y-m-d H:i:s',###}</dd>
            </dl>           
        </div>
        <div class="tip">
            <span class="dec dec-left"></span>
            <span class="dec dec-right"></span>
            <div class="ico-scan">
            </div>
            <div class="tip-text">
                <p>
                    请使用{$order.paytitle}扫一扫
                </p>
                <p>
                    扫描二维码完成支付
                </p>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="inner">
            <p>Copyright @ <font size="3">{:C('WEB_SITE_TITLE')}</font> Reserved</p>
            
        </div>
    </div>
</div>

</body>
</html>